body{
    background-color: black;
}
.header{
    width: 100%;
    height: 70px;
    background-color: black;
    align-items: center;
    display: flex;
}
.content{
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-image:url("25ff0017487b31e053c87efd35d4ed6f.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    
}
.header a{
    color: white;
    text-decoration: none;
    margin: 70px;
    padding-right: 80px; 
}
.footer{
    background-color: black;
    width: 100%;
    height: 30px;
}
.fb{
    width: 100px;
    position:absolute;
    right: 270px;
    bottom: 300px;
}
.insta{
    width: 100px;
    position: absolute;
    left: 1000px;
    bottom: 300px;
}
.social{
    position:absolute;
    right: 270px;
    top: 200px;
}
